* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
background-image: url(pics/3namedyo.jpg);
}
.order-container {
    width: 80%;
    margin: auto;
}

table,
th,
td {
    text-align: left;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
}

table {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

table img {
    width: 100px;
    height: 70px;
    cursor: pointer;
    padding-top: 5px;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 80%;
    height: 500px;
    background: #ffffff;
    padding: 2%;
}

.modal-content h2 {
    float: right;
    cursor: pointer;
}

.containerTransaction {
    padding: 2% 2% 2% 6%;
    margin: auto;
}

.transactionTable td,
tr {
    padding: 20px;
}

.modal-content img {
    height: 50px;
    width: 80px;
    cursor: pointer;
}

.titleOrder {
    text-align: center;
}

.fixedTop {
    position: sticky;
    top: 0;
}

.transactionTable {
    position: sticky;
    top: 0;
}

.searchForm {
    display: flex;
    flex-direction: row;
    width: 370px;
    height: 35px;
    float: right;
    justify-content: space-between;
    margin: 2%;
}

.formSearch {
    width: 220px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}