* {
    box-sizing: border-box;
}

.order-container {
    width: 75%;
    margin: auto;
    margin-top: 5%;
}

table,
th,
td {
    text-align: left;
    padding: 15px;
    text-align: center;
}

table {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

table img {
    height: 120px;
    width: 180px;
    cursor: pointer;
}

.order-container tr {
    border-bottom: 1px solid gray;
}