* {
    box-sizing: border-box;
}

.container-detail {
    display: flex;
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 4%;
    box-shadow: 1px 1px 5px 5px gray;
}

.product-image {
    width: 70%;
    text-align: center;
    padding: 5%;
}

.product-image img {
    height: 100%;
    width: 70%;
}

.product-image:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.product-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-left: .5px solid gray;
}

.product-details h1 {
    margin: 0;
    padding-left: 20px;
    text-align: center;
    padding: 20px;
}

.product-details p {
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

#quantity {
    width: 50px;
    height: 30px;
    text-align: center;
    margin-left: 20px;
}

.buyNow {
    width: 120px;
    height: 40px;
    text-align: center;
    position: absolute;
    right: 305px;
    top: 420px;
}

.addtocart {
    width: 120px;
    height: 40px;
    text-align: center;
    float: right;
    margin-left: 10px;
}

.buyNow,
.addtocart {
    display: inline-block;
}

.product-details button {
    display: flex;
    flex-direction: row;
}

.related-container {
    display: flex;
    width: 90%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}

.related-container img {
    height: 150px;
    width: 250px;
    cursor: pointer;
}

.related-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.related-items,
h3:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.related-items img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.related-items h3 {
    cursor: pointer;
}